[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,image/jpeg,image/png,image/bmp,image/webp
Actions=removeBackground
MimeType=image/jpeg;image/png;image/bmp;image/webp

[Desktop Action removeBackground]
Name=Rembg
Exec=/usr/local/bin/rembg_script.sh %U
Icon=preferences-desktop-wizard
